/* Resetting default browser styles */
html, body, h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;
}

/* Setting up basic typography */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-image: url("../images/p1.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* or contain, or specific size */
    background-position: center; /* or top, bottom, left, right, etc. */
    background-attachment: fixed; /* or scroll */
}

h1, h2, h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

/* Setting up basic layout */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
.center{
    margin-left: 500px;
    margin-top: 50px;
    margin-right: 500px;
    margin-bottom: 50px;
}
.header {
    background-color: #f0f0f0;
    padding: 10px 0;
    text-align: center;
}

.footer {
    background-color: #f0f0f0;
    padding: 10px 0;
    text-align: center;
}

.main-content {
    margin-bottom: 20px;
}

/* Styling links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
